body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fffff0
    }
    .header {
        color: white;
        background: black;
        font-size: 20px;
        height: 80px;
        font-weight: bold;
        line-height: 80px;
        padding-left: 30px;
    }
    .header .language {
        position: absolute;
        right: 30px;
        top: 0px;
    }
    .footer {
        background-color: #333;
        color:#888;
        font-style: italic;
        text-align: right;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        padding-right: 20px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .step {
        width: 200px;
        height: 100px;
        border: 1px solid;
        position: absolute;
        top: 300px;
        left: 30px;
        background-color: #f5f5dc;
    }
    .snezhinki {
        position: absolute;
        
    }
    .umno {
        position: absolute;
        top: 300px;
        left: 400px;
    }
    
    .Zima {
        margin-left: 600px;
        width: 200px;
    }