body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fffff0
    }
    .header {
        color: white;
        background: black;
        font-size: 20px;
        height: 80px;
        font-weight: bold;
        line-height: 80px;
        padding-left: 30px;
    }
    .header .language {
        position: absolute;
        right: 30px;
        top: 0px;
    }
    .footer {
        background-color: #333;
        color:#888;
        font-style: italic;
        text-align: right;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        padding-right: 20px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .time {
        color: #333;
        font-size: 28px;
        text-align: center;
        padding-top: 100px;
        font-style: italic;
    }
    .data {
        font-style: italic;
        font-size: 28px;
        border: 3px solid rgb(124, 40, 219);
        height: 150px;
        width: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .result {
        font-size: 60px;
        text-align: center;
        font-style: italic;
        background-color: rgb(210, 131, 255);
        color: rgb(224, 197, 236)
    }

    .result2 {
        font-size: 60px;
        text-align: center;
        font-style: italic;
        background-color: rgb(90, 75, 109);
        color: white
    }